<h1>Burger App</h1>

<div class="row">
    <div class="col-md-4" id='burgers-section'>
        {{#each burgers}}
        <div class="wrapper">
            <div class="d-flex flex-row justify-content-between border border-primary mb-3 p-2 mx-auto">
                <h3>{{this.id}}. {{this.name}}</h3>
                <a class="btn btn-danger" id="deleteBtn">Devour</a>
            </div>
        </div>
        {{/each}}


    </div>
    <div class="col-md-4" id='form-section'>
        <form method='POST'>

            <div class="form-group">
                <label for="burgerInput">Enter Burger</label>
                <input type="text" class="form-control" id="burgerInput" aria-describedby="emailHelp"
                    placeholder="Enter Burger">

            </div>

            <button type="submit" class="btn btn-primary" id='submitBtn'>Submit</button>
        </form>
    </div>
    {{!-- <div class="col-md-4" id='burgers-devoured-section'>
        {{#each burgers}}
        <div class="wrapper">    
            <div class="d-flex flex-row justify-content-between border border-primary mb-3 p-2 mx-auto">
                <h3>{{this.id}}. {{this.name}}</h3>
                <a class="btn btn-danger" id="deleteBtn">Devour</a>
            </div>

        </div>
        {{/each}}

    </div> --}}
</div>



<script>
    $('#submitBtn').on('click', (event) => {

        event.preventDefault();

        const currentURL = window.location.origin;

        const burger = {
            name: $('#burgerInput').val().trim()
        }

        console.log("burger" + burger)
        

    $.post(currentURL + '/', burger).then(function () {
            location.reload();
        })
    });






</script>